<!DOCTYPE html>
<html>
<head>
  <title>Error!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body class="error">
  <div id="app">
    <h1>Intruder detected</h1>
    <p>Someone here does not belong.</p>
  </div>
</body>
</html>
