<!DOCTYPE html>
<html>
<head>
  <title>Awesome App</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
  <div id="app">
    <h1>Welcome to Awesome App!</h1>
    <p>Please login.</p>
    <form action="/submit_login" method="POST">
      <ul>
        <li>
          <label for="username">username</label>
          <input type="text" name="username">
        </li>
        <li>
          <label for="password">password</label>
          <input type="password" name="password">
        </li>
        <li>
          <input type="submit" value="Login">
        </li>
      </ul>
  </form>
  </div>
</body>
</html>
