<!DOCTYPE html>
<html>
<head>
  <title>Welcome!</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body class="great-success">
  <div id="app">
    <h1>Welcome to Awesome App!</h1>
    <p>Hey, {{username}}, thanks for checking out my awesome app.</p>
  </div>
</body>
</html>
